* {
  margin: 0;
  padding: 0;
}

/* style bài 4 */

h1{
    text-align: center;
    font-size: 58px;
    padding-top: 40px;
}
.form__content,.Bt5__content {
  width: 50%;
  margin: 50px auto;
  box-shadow: 0 0 7px 0;
  border-radius: 10px;
  background-color: #ddddc7;
}
.edit-style {
  padding: 10px 25px;
}
input {
  border-radius: 5px;
  padding: 10px;
  border: none;
}
p {
  font-size: 40px;
  font-weight: bold;
  color: #455581;
  background-color: wheat;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 5px;
}
.form__chieuDai,
.form__chieuRong {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}
 button {
  background-color: #455581;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
 button:hover {
  background-color: #8597c9;
  opacity: 0.8;
}
#idDienTich,
#idChuVi {
  font-weight: bold;
  font-size: 20px;
}
footer {
  height: 42px;
  background-color: wheat;
  border-radius: 0 0 10px 10px;
}



/* style bài 5 */
.Bt5__nhapSo{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Bt5__nhapSo label{
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
}
.Bt5__xuatKetQua{
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0 0 50px;
}